<div class="header row px-3">
    <div class="headerOption" routerLink="">
        <fa-icon class="optionIcon" [icon]="iconHouseChimney"></fa-icon>
        <h4 class="headerText">People Recipes</h4>
    </div>
    <div class="spacing"></div>
    <div class="headerOption" routerLink="add">
        <fa-icon class="optionIcon" [icon]="iconBook"></fa-icon>
        <h4 class="headerText">Agregar receta</h4>
    </div>
    <div class="spacing"></div>
    <div class="headerOption" id="deleteRecipes">
        <fa-icon class="optionIcon" [icon]="iconTrash"></fa-icon>
        <h4 class="headerText">Eliminar recetas</h4>
    </div>
    <div class="spacing"></div>
    <div class="headerOption">
        <label class="theme-toggle-lbl">
            <input type="checkbox" id="theme-toggle" [(ngModel)]="inputChecked" (change)="changeTheme()">
            <span class="slider">
                <fa-icon id="toggle-icon" class="optionIcon" [icon]="getToggleIcon()"></fa-icon>
            </span>
        </label>
    </div>
</div>