.row {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    height: var(--pa-header-height);
    color: var(--pa-light-color);
    background-color: #32936F;
    align-items: center;
    box-shadow: var(--pa-shadow);
    transition: box-shadow var(--pa-theme-transition);
}


/* Header Options */
.headerOption {
    width: auto;
    padding: 0;
    text-decoration-color: transparent;
    cursor: pointer;
    display: flex;
    transition: all 0.2s ease-in, color var(--pa-theme-transition);
}

.headerOption:hover {
    text-decoration: underline var(--pa-light-color);
}

.headerText {
    margin: 0 0 0 5px;
    font-size: 1.275rem;
}

.optionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spacing */
.spacing {
    width: 1.25rem;
    padding: 0;
}

/* Theme Toggle */
#theme-toggle {
    display: none;
}

.theme-toggle-lbl {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24.469px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 35px;
    transition: var(--pa-theme-transition);
    display: flex;
    align-items: center;
}

#theme-toggle:checked+.slider {
    background-color: var(--pa-light-color);
}

.slider:before { 
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    background-color: var(--pa-dark-color);
    border-radius: 50%;
    transition: var(--pa-theme-transition);
}

#theme-toggle:checked+.slider:before {
    transform: translateX(20px);
}

/* Responsive */
@media only screen and (max-width: 576px) {
    .header {
        display: flex;
        justify-content: space-evenly;
        height: 4rem;
    }

    .spacing,
    .headerText {
        display: none;
    }

    .theme-toggle-lbl {
        height: 16px;
        width: 32px;
    }

    .slider:before {
        height: 12px;
        width: 12px;
        left: 4px;
    }

    input:checked+.slider:before {
        transform: translateX(12px);
    }
}