.row {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    height: var(--pa-header-height);
    color: #EBEBEB;
    background-color: #32936F;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.headerOption {
    width: auto;
    padding: 0;
    text-decoration-color: transparent;
    cursor: pointer;
    display: flex;
    transition: all 0.2s ease-in;
}

.headerOption:hover {
    text-decoration: underline #1A281F;
}

.headerText {
    margin: 0;
}


.headerText:hover {
    margin: 0
}

.optionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacing {
    width: 1.5rem;
    padding: 0;
}

@media only screen and (max-width: 426px) {
    .header {
        display: flex;
        justify-content: space-evenly;
        height: 4rem;
    }

    .spacing {
        display: none;
    }

    .headerText {
        display: none;
    }
}