<div class="header row px-3">
    <div class="headerOption" routerLink="">
        <fa-icon class="optionIcon" [icon]="iconHouseChimney"></fa-icon>
        <h4 class="headerText">People Recipes</h4>
    </div>
    <div class="spacing"></div>
    <div class="headerOption" routerLink="add">
        <fa-icon class="optionIcon" [icon]="iconBook"></fa-icon>
        <h4 class="headerText">Agregar receta</h4>
    </div>
    <div class="spacing"></div>
    <div class="headerOption" id="deleteRecipes">
        <fa-icon class="optionIcon" [icon]="iconTrash"></fa-icon>
        <h4 class="headerText">Eliminar recetas</h4>
    </div>
    <div class="spacing"></div>
    <div class="headerOption">
        <input type="checkbox" id="theme-toggle" [(ngModel)]="inputChecked" (change)="changeTheme()">
        <!-- <label id="theme-toggle-lbl" for="theme-toggle">
            <fa-icon class="optionIcon" [icon]="getThemeIcon()"></fa-icon>
        </label> -->
    </div>
</div>

<!-- Modal -->
<!-- <div>
    <app-modal id="headerModal" [headerText]="headerText" [bodyText]="bodyText" (closed)="modalClosed($event)"></app-modal>
</div> -->