.row {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    height: var(--pa-header-height);
    color: var(--pa-light-color);
    background-color: #32936F;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


/* Header Options */
.headerOption {
    width: auto;
    padding: 0;
    text-decoration-color: transparent;
    cursor: pointer;
    display: flex;
    transition: all 0.2s ease-in;
}

.headerOption:hover {
    text-decoration: underline #1A281F;
}

.headerText {
    margin: 0 0 0 5px;
    font-size: 1.275rem;
}

.optionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spacing */
.spacing {
    width: 1.25rem;
    padding: 0;
}

/* Theme Toggle */
#theme-toggle{
    display: none;
}

#theme-toggle-lbl{
    cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 576px) {
    .header {
        display: flex;
        justify-content: space-evenly;
        height: 4rem;
    }

    .spacing, .headerText {
        display: none;
    }
}