<input type="file" accept="image/*" id="imageInput" (change)="newImage($event)">

<!-- no image selected -->
<div *ngIf="selectedImageURL == ''" class="imageInputDiv">
    <button id="imageInputBtn" class="btn btn-outline-dark">
        <label for="imageInput" class="imageInputLbl">
            Seleccione una Imagen
        </label>
    </button>
</div>

<!-- selected image -->
<div *ngIf="selectedImageURL != ''" class="row imageDisplayDiv">
    <div class="col-1"></div>
    <!-- image display -->
    <div class="col-10">
        <label for="imageInput" class="imageDisplayLbl">
            <img [src]="selectedImageURL" class="imageDisplay">
        </label>
    </div>
    <!-- remove image button -->
    <div class="col-1 imageDisplayRemoveDiv">
        <fa-icon id="imageDisplayRemoveIcon" [icon]="iconX" (click)="resetImage()"></fa-icon>
    </div>
</div>