<div id="modalBackground">
    <div id="modalContent">
        <!-- Header -->
        <div id="modalHeader" class="pt-3 px-3">
            <h1 class="text">{{headerText}}</h1>

            <div class="spacing"></div>
            <!-- Close Modal Button -->
            <div id="modalCloseDiv">
                <fa-icon id="modalCloseIcon" [icon]="iconX"></fa-icon>
            </div>
        </div>

        <!-- Body -->
        <div id="modalBody" class="px-3">
            <p class="text">{{bodyText}}</p>
        </div>



        <!-- Button -->
        <div id="modalButton" class="px-3 pb-3">
            <button id="modalButtonBtn">{{buttonText}}</button>
        </div>
    </div>
</div>