<div class="background">
    <!-- <div class=""></div> -->
    <!-- recipe not found error -->
    <div class="errorDiv" *ngIf="!recipe">
        <h2>
            Error 404: No se encontró la receta que estabas buscando
        </h2>
    </div>

    <!-- recipe found -->
    <div class="recipeBackground" *ngIf="recipe">
        <!-- Title -->
        <div class="titleDiv">
            <h1>{{recipe.title}}</h1>
        </div>

        <!-- Image -->
        <div class="imageDiv" *ngIf="recipe.image != ''">
            <img class="recipeImage" [src]="recipe.image">
        </div>

        <!-- Description -->
        <div class="descriptionDiv mt-2">
            <p>{{recipe.description}}</p>
        </div>


        <!-- Ingredients -->
        <h4>Lista de Ingredientes:</h4>
        <div class="row" *ngFor="let ingredient of recipe.ingredients; let i = index">
            <label class="ingredientLbl" [ngClass]="{'checkedLbl': checkedIngredients[i]}">
                <input [id]="'ingredient' + i" class="ingredientInput" type="checkbox" (change)="updateIngredient(i)">
                <ul class="ingredientList">
                    <li>{{ingredient}}</li>
                </ul>
            </label>
        </div>
    </div>
</div>