/* Rows & Columns */
.row,
.col-1,
.col-10 {
    margin: 0;
    padding: 0;
}

/* Background */
.recipeBackground {
    color: #EBEBEB;
    background-color: #32936F;
    border-radius: var(--bs-border-radius);
    padding: 0% 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Title */
.titleDiv {
    display: flex;
    justify-content: center;
    text-align: justify;
}

/* Image */
.imageDiv {
    display: flex;
    justify-content: center;
    height: 70vh;

    .recipeImage {
        width: 100%;
        object-fit: cover;
        border: 5px solid #582F0E;
        border-radius: var(--bs-border-radius);
    }
}

/* Description */
.descriptionDiv{
    text-align: justify;
}

/* Ingredients */
.ingredientLbl {
    padding: 0;
    text-decoration-color: transparent;
}

.checkedLbl {
    text-decoration: line-through;
    text-decoration-color: #1E2F23;
    transition: all 0.3s ease-in;
}

.ingredientInput {
    display: none;
}