.row,
.col-1,
.col-10 {
    margin: 0;
    padding: 0;
}

/* Title */
.titleDiv{
    display: flex;
    justify-content: center;
}

/* Image */
.imageDiv {
    display: flex;
    justify-content: center;
    height: 70vh;

    .recipeImage {
        width: 100%;
        object-fit: cover;
        border: 5px solid #280A00;
        border-radius: var(--bs-border-radius);
    }
}

/* Ingredients */
.checkedLbl {
    text-decoration: line-through;
}