<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <!-- Title -->
        <div class="titleDiv">
            <h1>{{recipe.title}}</h1>
        </div>

        <!-- Image -->
        <div class="imageDiv" *ngIf="recipe.image != ''">
            <img class="recipeImage" [src]="recipe.image">
        </div>

        <!-- Description -->
        <p>{{recipe.description}}</p>

        <!-- Ingredients -->
        <div *ngFor="let ingredient of recipe.ingredients; let i = index">
            <label class="ingredientLbl" [ngClass]="{'checkedLbl': checkedLabels[i]}">
                <input [id]="'ingredient' + i" type="checkbox" (change)="updateLabel(i)">
                {{ingredient}}
            </label>
        </div>
    </div>
</div>