/* Rows & Columns */
.row,
.col-1,
.col-10 {
    margin: 0;
    padding: 0;
}

/* Background */
.background {
    padding: 1rem 0;
    width: 100%;
    min-height: calc(100vh - var(--pa-header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pa-light-color);
    transition: background-color var(--pa-theme-transition);
}

/* No Recipe Error */
.errorDiv {
    color: var(--pa-brown);
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: color var(--pa-theme-transition);
}

.errorDiv>h2 {
    height: 100%;
    margin: 0;
}

/* Recipe Card */
.recipeBackground {
    color: var(--pa-light-color);
    background-color: #32936F;
    border-radius: var(--bs-border-radius);
    padding: 0% 5%;
    box-shadow: var(--pa-shadow);
    width: 80%;
    margin: auto;
    transition: color var(--pa-theme-transition), box-shadow var(--pa-theme-transition);
}

/* Title */
.titleDiv {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.title{
    margin: 0;
}

/* Image */
.imageDiv {
    display: flex;
    justify-content: center;
    height: 70vh;

    .recipeImage {
        width: 100%;
        object-fit: cover;
        border: 5px solid #774936;
        border-radius: var(--bs-border-radius);
    }
}

/* Description */
.descriptionDiv {
    text-align: justify;
}

/* Ingredients */
.ingredientLbl {
    padding: 0;
    text-decoration-color: transparent;
}

.checkedLbl {
    text-decoration: line-through;
    text-decoration-color: var(--pa-dark-color);
    transition: text-decoration-color var(--pa-theme-transition);
}

.ingredientInput {
    display: none;
}