<div id="background" class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <!-- if no recipes -->
            <div class="col-12 noRecipeDiv" *ngIf="recipes.length == 0">
                <h2 class="noRecipeText">De momento no tenemos recetas disponibles</h2>
            </div>

            <!-- newest recipe -->
            <div id="recipeCardNew" class="newRecipeDiv my-4 recipeCards row p-4"
                *ngFor="let recipe of getLastRecipe(); let i = index">
                <img class="recipeImageNew" [src]="recipe.image">
                <div class="recipeContentNew">
                    <div class="overflow overflow-title recipeTitleNewDiv">
                        <h2 class="recipeTitle recipeTitleNew" [title]="recipe.title">{{recipe.title}}</h2>
                    </div>
                    <div class="overflow overflow-description">
                        <p class="recipeDescriptionNew">{{recipe.description}}</p>
                    </div>
                </div>
            </div>

            <!-- search filter -->
            <div class="filterDiv row mb-3" *ngIf="recipes.length > 1">
                <label class="filterLbl">
                    <div class="filterLblDiv">
                        <div class="filterInputDiv">
                            <input class="filterInput" placeholder="Buscar Receta" (keyup)="updateFilter($event)">
                        </div>
                        <div class="iconSearchDiv">
                            <fa-icon [icon]="iconSearch"></fa-icon>
                        </div>
                    </div>
                </label>
            </div>

            <!-- other recipes -->
            <div class="recipesGrid">
                <div class="recipeCard recipeCards row mb-3 p-2"
                    *ngFor="let recipe of getFilteredRecipes(); let i = index">
                    <div class="recipeImageDiv">
                        <img class="recipeImage" [src]="recipe.image">
                    </div>
                    <div class="recipeContentDiv">
                        <div class="overflow overflow-title">
                            <h3 class="recipeTitle" [title]="recipe.title">{{recipe.title}}</h3>
                        </div>
                        <div class="overflow overflow-description">
                            <p class="recipeDescription">{{recipe.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>