/* Rows & Columns */
.row,
.col-1,
.col-10 {
    margin: 0;
    padding: 0;
    max-height: 100%;
}

#background {
    background-color: var(--pa-light-color);
    transition: background-color var(--pa-theme-transition);
    min-height: calc(100vh - var(--pa-header-height));
}

/* No Recipes */
.noRecipeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    min-height: calc(100vh - var(--pa-header-height));
}

.noRecipeText {
    color: var(--pa-brown);
    text-align: center;
    margin: 0;
    transition: color var(--pa-theme-transition);
}

/* Both Cards */
.recipeCards {
    cursor: pointer;
}

/* Newest Recipe Card */
.newRecipeDiv {
    padding: 0;
}

#recipeCardNew {
    height: auto;
    color: var(--pa-light-color);
    background-color: #32936F;
    border-radius: var(--bs-border-radius);
    box-shadow: var(--pa-shadow);
    text-align: justify;
    transition: transform 0.3s, color var(--pa-theme-transition), box-shadow var(--pa-theme-transition);
}

#recipeCardNew:hover {
    transform: scale(1.05);
}

.recipeImageNew {
    padding: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 5px solid #774936;
    border-radius: var(--bs-border-radius);
}

.recipeContentNew {
    padding: 0;
}

.recipeDescriptionNew {
    margin: 0;
}

/* Filter */
.filterDiv {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.filterLbl {
    width: 74.5%;
    padding: 0;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--pa-brown);
    border-radius: var(--bs-border-radius);
    transition: border-color var(--pa-theme-transition);
}

.filterLblDiv {
    width: 100%;
    display: flex;
    padding: 6px 12px;
    cursor: text;
}

.filterInputDiv {
    width: calc(100% - 16px);
}

.filterInput {
    width: 100%;
    color: var(--pa-dark-color);
    background-color: transparent;
    border: 0;
    transition: color var(--pa-theme-transition);
}

.filterInput:focus-visible {
    outline: 0;
}

.iconSearchDiv {
    width: auto;
    float: right;
    color: var(--pa-brown);
    transition: color var(--pa-theme-transition);
}

/* Sorting */
.sortSlct {
    width: 24.5%;
    padding: 6px 12px;
    color: var(--pa-brown);
    border-color: var(--pa-brown);
    border-radius: var(--bs-border-radius);
    outline: none;
    background-color: transparent;
    transition: color var(--pa-theme-transition), border-color var(--pa-theme-transition);
}

.sortOpt {
    background-color: var(--pa-light-color);
}

/* Filter No Results */
.noRecipesFilterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.noRecipeText {
    color: var(--pa-brown);
    text-align: center;
    margin: 0;
    transition: color var(--pa-theme-transition);
}


/* Other Recipe Card */
.recipesGrid {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(205px, 1fr));
    gap: 10px;
}

.recipeCard {
    width: 100%;
    margin: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    text-align: justify;
    color: var(--pa-dark-color);
    background-color: var(--pa-light-color);
    border: 0;
    border-radius: var(--bs-border-radius);
    box-shadow: var(--pa-shadow);
    transition: transform 0.3s, color var(--pa-theme-transition), background-color var(--pa-theme-transition),
        box-shadow var(--pa-theme-transition);
}

.recipeCard:hover {
    transform: scale(1.05);
}

.recipeImageDiv {
    padding: 0;
    width: 100%;
}

.recipeImage {
    padding: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipeContentDiv {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipeDescriptionDiv {
    margin-bottom: 1rem;
}

.recipeDescription {
    height: 60.75px;
    font-size: 13.5px;
    margin: 0;
}

/* Overflow */
.overflow {
    text-overflow: ellipsis;
    padding: 0;
}

.overflow-title {
    height: fit-content;
}

.recipeTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding-bottom: 2px;
    margin-bottom: calc(1rem - 2px);
}

.recipeTitleNew {
    margin: 0;
}

.recipeTitleNewDiv {
    margin-top: 1rem;
    margin-bottom: calc(1rem - 2px)
}

.overflow-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* Pages */
.pagination {
    display: flex;
    justify-content: center;
}

.page-item {
    cursor: pointer;
}

.page-item.disabled {
    cursor: default;
}

.disabled>a {
    filter: brightness(70%);
}

.page-link {
    color: var(--pa-brown);
    background-color: var(--pa-light-color);
    border-color: var(--pa-brown);
    transition: color var(--pa-theme-transition), border-color var(--pa-theme-transition), background-color var(--pa-theme-transition);
}

.active-page-link,
.page-link:hover {
    color: var(--pa-light-color);
    background-color: var(--pa-brown);
}

/* Responsive */
@media only screen and (max-width: 992px) {
    .filterLbl {
        width: 69.5%;
    }

    .sortSlct {
        width: 29.5%;
    }

    .recipesGrid {
        grid-template-columns: repeat(3, minmax(205px, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    .filterLbl {
        width: 64.5%;
    }

    .sortSlct {
        width: 34.5%;
    }

    .recipesGrid {
        grid-template-columns: repeat(2, minmax(205px, 1fr));
    }
}

@media only screen and (max-width: 576px) {

    .filterLbl {
        width: 100%;
        margin-bottom: 1rem;
    }

    .sortSlct {
        width: 100%;
    }

    .recipesGrid {
        grid-template-columns: minmax(205px, 1fr);
    }

    .recipeImage {
        height: 150px;
    }

    .recipeContentDiv {
        margin: auto 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .recipeDescriptionDiv,
    .recipeDescription {
        display: none;
    }
}