{{updateRecipes()}}
<div id="background" class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <!-- if no recipes -->
            <div class="noRecipeDiv" *ngIf="recipes.length == 0">
                <h2 class="noRecipeText">De momento no tenemos recetas disponibles</h2>
            </div>

            <!-- newest recipe -->
            <div id="recipeCardNew" class="newRecipeDiv my-4 recipeCards row p-4"
                *ngFor="let recipe of getLastRecipe(); let i = index">
                <img class="recipeImageNew" [src]="recipe.image">
                <div class="recipeContentNew">
                    <div class="overflow overflow-title recipeTitleNewDiv">
                        <h2 class="recipeTitle recipeTitleNew" [title]="recipe.title">{{recipe.title}}</h2>
                    </div>
                    <div class="overflow overflow-description">
                        <p class="recipeDescriptionNew">{{recipe.description}}</p>
                    </div>
                </div>
            </div>

            <!-- search filter -->
            <div class="filterDiv row mb-3" *ngIf="recipes.length > 2">
                <label class="filterLbl">
                    <div class="filterLblDiv">
                        <div class="filterInputDiv">
                            <input class="filterInput" placeholder="Buscar Receta" (keyup)="updateFilter($event)">
                        </div>
                        <div class="iconSearchDiv">
                            <fa-icon [icon]="iconSearch"></fa-icon>
                        </div>
                    </div>
                </label>
            </div>

            <!-- other recipes -->
            <div class="recipesGrid">
                {{filterRecipes()}}
                <div class="recipeCard recipeCards row mb-3 p-2"
                    *ngFor="let recipe of getCurrentPage(recipesFiltered); let i = index">
                    <div class="recipeContentDiv">
                        <div class="overflow overflow-title">
                            <h3 class="recipeTitle" [title]="recipe.title">{{recipe.title}}</h3>
                        </div>
                        <div class="recipeDescriptionDiv overflow overflow-description">
                            <p class="recipeDescription">{{recipe.description}}</p>
                        </div>
                    </div>
                    
                    <div class="recipeImageDiv">
                        <img class="recipeImage" [src]="recipe.image">
                    </div>
                   
                </div>
                {{updatePageCardClicks()}}
            </div>

            <!-- Pagination -->
            <ul class="pagination" *ngIf="recipesFiltered.length > recipesPerPage">
                <!-- disable previous or next if necessary -->
                {{disablePaginationButtons()}}
                <!-- Previous -->
                <li id="paginationPrevious" class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage - 1)">Anterior</a>
                </li>

                <!-- -2 -->
                <li *ngIf="currentPage - 2 > 0 && currentPage == pagesCount" class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage - 2)">{{currentPage - 2}}</a>
                </li>

                <!-- -1 -->
                <li *ngIf="currentPage - 1 > 0" class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage - 1)">{{currentPage - 1}}</a>
                </li>

                <!-- current -->
                <li class="page-item">
                    <a class="page-link active-page-link" (click)="goToPage(currentPage)">{{currentPage}}</a>
                </li>

                <!-- +1 -->
                <li *ngIf="currentPage + 1 <= pagesCount" class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage + 1)">{{currentPage + 1}}</a>
                </li>

                <!-- +2 -->
                <li *ngIf="currentPage + 2 <= pagesCount && currentPage == 1" class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage + 2)">{{currentPage + 2}}</a>
                </li>

                <!-- Next -->
                <li id="paginationNext" class="page-item">
                    <a class="page-link" (click)="goToPage(currentPage + 1)">Siguiente</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-1"></div>
</div>