<div id="background" class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <!-- if no recipes -->
            <div class="col-12 noRecipeCol" *ngIf="recipes.length == 0">
                <h2 class="noRecipeText">De momento no tenemos recetas disponibles</h2>
            </div>

            <!-- at least one recipe -->
            <div class="lastRecipeDiv my-4" *ngFor="let recipe of getLastRecipe(); let i = index">
                <!-- latest recipe -->
                <div *ngIf="i == 0">
                    <div id="recipeCardNewest" class="recipeCardNewest recipeCards row p-4">
                        <img class="recipeImageNewest" [src]="recipe.image">
                        <div class="col-12">
                            <h2>{{recipe.title}}</h2>
                            <p>{{recipe.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- other recipes -->
            <div class="filterDiv row mb-3" *ngIf="recipes.length > 1">
                <label class="filterLbl">
                    <div class="filterLblDiv">
                        <div class="filterInputDiv">
                            <input class="filterInput" (keyup)="updateFilter($event)">
                        </div>
                        <div class="iconSearchDiv">
                            <fa-icon [icon]="iconSearch"></fa-icon>
                        </div>
                    </div>
                </label>
            </div>
            <div class="recipeCol" *ngFor="let recipe of getFilteredRecipes(); let i = index">
                <div class="recipeCard recipeCards row mb-3 p-2">
                    <div class="recipeImageDiv">
                        <img class="recipeImage" [src]="recipe.image">
                    </div>
                    <div class="recipeContentDiv">
                        <h3>{{recipe.title}}</h3>
                        <div class="recipeDescriptionDiv">
                            <p>{{recipe.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>