.row,
.col-1,
.col-2,
.col-10,
.col-12 {
    margin: 0;
    padding: 0;
    max-height: 100%;
}

.recipeCardNewest{
    height: auto;
    background-color: lightgray;
}

.recipeImageDivNewest{
    height: auto;
}

.recipeImageNewest {
    padding: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

