/* Rows & Columns */
.row,
.col-1,
.col-10 {
    margin: 0;
    padding: 0;
    max-height: 100%;
}

#background {
    background-color: #EBEBEB;
    min-height: calc(100vh - var(--pa-header-height));
}

/* No Recipes */
.noRecipeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    min-height: calc(100vh - var(--pa-header-height));
}

.noRecipeText {
    color: #774936;
    text-align: center;
    margin: 0;
}

/* Both Cards */
.recipeCards {
    cursor: pointer;
}

/* Newest Recipe Card */
.newRecipeDiv {
    padding: 0;
}

#recipeCardNew {
    height: auto;
    color: #EBEBEB;
    background-color: #32936F;
    border-radius: var(--bs-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    transition: transform 0.3s;
}

#recipeCardNew:hover {
    transform: scale(1.05);
}

.recipeImageNew {
    padding: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 5px solid #774936;
    border-radius: var(--bs-border-radius);
}

.recipeContentNew {
    padding: 0;
}

.recipeDescriptionNew {
    margin: 0;
}

/* Filter */
.filterDiv {
    padding: 0;
}

.filterLbl {
    width: 100%;
    padding: 0;
    background-color: #EBEBEB;
    border: var(--bs-border-width) solid #774936;
    border-radius: var(--bs-border-radius);
}

.filterLblDiv {
    width: 100%;
    display: flex;
    padding: 6px 12px;
}

.filterInputDiv {
    width: calc(100% - 16px);
}

.filterInput {
    width: 100%;
    background-color: transparent;
    border: 0;
}

.filterInput:focus-visible {
    outline: 0;
}

.iconSearchDiv {
    width: auto;
    float: right;
    color: #774936;
}


/* Other Recipe Card */
.recipesGrid {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(205px, 1fr));
    gap: 10px;
}

.recipeCard {
    width: 100%;
    margin: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    text-align: justify;
    background-color: #EBEBEB;
    border: 0;
    border-radius: var(--bs-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s;
}

.recipeCard:hover {
    transform: scale(1.05);
}

.recipeImageDiv {
    padding: 0;
    width: 100%;
}

.recipeImage {
    padding: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipeContentDiv {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipeDescriptionDiv {
    margin-bottom: 1rem;
}

.recipeDescription {
    height: 60.75px;
    font-size: 13.5px;
    margin: 0;
}

/* Overflow */
.overflow {
    text-overflow: ellipsis;
    padding: 0;
}

.overflow-title {
    height: fit-content;
}

.recipeTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding-bottom: 2px;
    margin-bottom: calc(1rem - 2px);
}

.recipeTitleNew {
    margin: 0;
}

.recipeTitleNewDiv {
    margin-top: 1rem;
    margin-bottom: calc(1rem - 2px)
}

.overflow-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* Pages */
.pagination {
    display: flex;
    justify-content: center;
}

.page-item {
    cursor: pointer;
}

.page-item.disabled {
    cursor: default;
}

.disabled>a{
    color: #343A40;
    border-color: #343A40;
    background-color: rgba(0, 0, 0, 0.2);
}

.page-link {
    color: #774936;
    background-color: transparent;
    border-color: #774936;
}

.page-link:hover {
    color: #774936;
    background-color: transparent;
}

.active-page-link,
.page-link:active {
    color: #EBEBEB;
    background-color: #774936;
    transition: all 0.1s ease-in;
}

.active-page-link:hover {
    color: #EBEBEB;
    background-color: #774936;
}

/* Responsive */
@media only screen and (max-width: 1021px) {
    .recipesGrid {
        grid-template-columns: repeat(3, minmax(205px, 1fr));
    }
}

@media only screen and (max-width: 763px) {
    .recipesGrid {
        grid-template-columns: repeat(2, minmax(205px, 1fr));
    }
}

@media only screen and (max-width: 505px) {
    .recipesGrid {
        grid-template-columns: minmax(205px, 1fr);
    }

    .recipeImage {
        height: 100px;
    }

    .recipeContentDiv {
        margin: auto 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .recipeDescriptionDiv,
    .recipeDescription {
        display: none;
    }
}