/* Rows & Columns */
.row {
    margin: 0;
    padding: 0;
}

/* Input Label */
.form-label {
    width: auto;
}

/* Wrong Input Alert */
.wrong-input{
    border-color: #BC4749;
}

.wrong-input-alert{
    color: #BC4749;
}

.wrong-hidden{
    display: none;
}

/* Basic Button */
button {
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

#addIngredientBtn {
    width: 100%;
    min-height: 1.5rem;
    min-width: 12rem;
    padding: 6px 12px;
    color: #774936;
    border: var(--bs-border-width) solid #774936;
    border-radius: var(--bs-border-radius);
    transition: all 0.2s ease-in;
}

#addIngredientBtn:hover {
    color: white;
    background-color: #774936;
}

#addIngredientBtn:focus {
    outline: 0
}

/* Ingredients */
.ingredientForm {
    display: flex;
    justify-content: space-between;
}

.firstIngredient {
    width: 100%;
    padding: 0;
}

.anIngredient {
    width: 89%;
    padding: 0;
}

@media only screen and (max-width: 426px) {
    .anIngredient {
        width: 88%;
    }
}

/* Remove Ingredient */
.removeIngredientDiv {
    width: 10%;
    padding: 0;
    cursor: pointer;
}

.removeIngredientIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #BC4749;
    border: var(--bs-border-width) solid #BC4749;
    border-radius: var(--bs-border-radius);
    transition: all 0.2s ease-in;
}

.removeIngredientIcon:hover {
    color: white;
    background-color: #BC4749;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

/* Save Button */
.saveBtnRow {
    display: flex;
    justify-content: space-evenly;
}

.saveBtn {
    color: white;
    background-color: #32936F;
    border: var(--bs-border-width) solid #32936F;
    width: 40%;
    min-width: 12rem;
    transition: all 0.3s ease-in;
    padding: 6px 12px;
}

.saveBtn:focus {
    outline: 0;
}

.saveBtn:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 426px) {
    .saveBtn {
        width: 100%;
    }
}