<div class="mb-4">
    <!-- Header -->
    <h2 class="header pt-2 px-4">Crea una nueva receta</h2>

    <form [formGroup]="recipeForm">
        <!-- Title -->
        <div class="form-group pt-3 px-4">
            <label for="titleInput" class="form-label">Título: </label>
            <input type="text" class="form-control" id="titleInput" formControlName="title" (keyup)="validateField('title')">
            <p id="wrong-title" class="wrong-input-alert wrong-hidden">Este campo es obligatorio</p>
        </div>

        <!-- Description -->
        <div class="form-group pt-3 px-4">
            <label for="descriptionInput" class="form-label">Descripción: </label>
            <input type="text" class="form-control" id="descriptionInput" formControlName="description" (keyup)="validateField('description')">
            <p id="wrong-description" class="wrong-input-alert wrong-hidden">Este campo es obligatorio</p>
        </div>

        <!-- Image -->
        <div class="form-group pt-3 px-4">
            <label class="form-label">Imagen: </label>
            <app-image-input id="image-comp" (newImageInput)="newImage($event)"></app-image-input>
            <p id="wrong-image" class="wrong-input-alert wrong-hidden">Este campo es obligatorio</p>
        </div>

        <!-- Ingredients -->
        <div class="pt-3 px-4" formArrayName="ingredients">
            <label class="form-label">Ingredientes: </label>
            <!-- For each ingredient -->
            <div class="ingredientForm form-group row pb-2"
                *ngFor="let ingredient of getIngredientsForm().controls; let i = index">
                <!-- Ingredient Input -->
                <div [ngClass]="{' firstIngredient': i == 0, 'anIngredient': i != 0}">
                    <input type="text" class="form-control ingredientInput" [id]="'ingredientInput' + i" [formControlName]="i"
                    (keyup)="validateIngredients()">
                </div>
                <!-- Remove Ingredient -->
                <div class="removeIngredientDiv" *ngIf="i != 0">
                    <fa-icon [icon]="iconMinus" class="removeIngredientIcon" (click)="removeIngredient(i)"></fa-icon>
                </div>

                <!-- if more than 1, check for validations -->
                <div *ngIf="i > 0" style="display: none;">{{validateIngredients()}}</div>
            </div>
            <p id="wrong-ingredients" class="wrong-input-alert wrong-hidden">Este campo es obligatorio</p>

            <!-- Add New Ingredient -->
            <div>
                <button id="addIngredientBtn" (click)="addIngredient()">+ añadir ingrediente</button>
            </div>
        </div>

        <!-- Save Button -->
        <div class="row saveBtnRow pt-4 px-4">
            <button class="saveBtn" (click)="saveRecipe()">Guardar Receta</button>
        </div>

        <!-- Modal -->
        <div>
            <app-modal id="newRModal" [headerText]="headerText" [bodyText]="bodyText"
                (closed)="modalClosed($event)"></app-modal>
        </div>
    </form>
</div>