<div>
    <h2 class="header pt-2 px-4">Crea una nueva receta</h2>

    <form [formGroup]="recipeForm">
        <div class="form-group pt-3 px-4">
            <label for="titleInput" class="form-label">Título: </label>
            <input type="text" class="form-control" id="titleInput" formControlName="title">
        </div>
        <div class="form-group pt-3 px-4">
            <label for="descriptionInput" class="form-label">Descripción: </label>
            <input type="text" class="form-control" id="descriptionInput" formControlName="description">
        </div>
        <div class="form-group pt-3 px-4">
            <label class="form-label">Imagen: </label>
            <app-image-input (newImageInput)="newImage($event)"></app-image-input>
        </div>
        <div class="pt-3 px-4" formArrayName="ingredients">
            <label class="form-label">Ingredientes: </label>
            <div class="ingredientForm form-group row pb-2" *ngFor="let ingredient of getIngredientsForm().controls; let i = index">
                <div [ngClass]="{' firstIngredient': i == 0, 'anIngredient': i != 0}">
                    <input type="text" class="form-control" [id]="'ingredientInput' + i" [formControlName]="i">
                </div>
                <div class="removeIngredientDiv ml-1" *ngIf="i != 0">
                    <fa-icon [icon]="iconX" class="removeIngredientIcon" (click)="removeIngredient(i)"></fa-icon>
                </div>
            </div>

            <div class="">
                <button id="addIngredientBtn" (click)="addIngredient()">+ añadir ingrediente</button>
            </div>
        </div>

        <!-- Save Button -->
        <div class="row saveBtnRow pt-5">
            <button class="saveBtn" (click)="saveRecipe()">Guardar Receta</button>
            <button class="saveBtn" routerLink="">Atrás</button>
        </div>

        <!-- Modal -->
        <div>
            <app-modal [headerText]="headerText" [bodyText]="bodyText" (closed)="modalClosed()"></app-modal>
        </div>
    </form>

    
</div>