.form-label{
    width: 100%;
}

button{
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

#addIngredientBtn{
    width: 100%;
    min-height: 1.5rem;
    padding: 6px 12px;
}

.row,.col-1, .col-11{
    margin: 0;
    padding: 0;
}

.removeIngredientIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #c3352c;
    border: var(--bs-border-width) solid #c3352c;
    border-radius: var(--bs-border-radius);
    transition: all 0.2s ease-in;

}

.removeIngredientIcon:hover{
    color: white;
    background-color: #c3352c;
    border: var(--bs-border-width) solid var(--bs-border-color);
    transition: all 0.3s ease-in;
}

/* Save Button */
.saveBtnRow{
    display: flex;
    justify-content: space-evenly;
}

.saveBtn{
    color: #456a1c;
    background-color: #ddbb6a;
    border: var(--bs-border-width) solid #456a1c;
    width: 40%;
    transition: all 0.3s ease-in;
}
.saveBtn:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}